<!DOCTYPE html>
    <%- include('../partials/head') %>
    
    <body class="container">
        <%- include('../partials/header') %> 

        <main>
            <div class="jumbotron">
                <h1>About Us</h1>
                <p>Desenvolvendo em Express.js</p>
            </div>
        </main>


        <%- include('../partials/footer') %>
    </body>
</html>